@using Microsoft.Extensions.Logging
@using Microsoft.JSInterop
@using MoonCore.Blazor.FlyonUi.Files.View
@using MoonCore.Blazor.FlyonUi.DataTables
@using MoonCore.Blazor.FlyonUi.Files.Manager.Partials
@using MoonCore.Blazor.FlyonUi.Modals
@using MoonCore.Blazor.FlyonUi.Toasts
@using MoonCore.Blazor.FlyonUi.Components
@using MoonCore.Blazor.FlyonUi.Files.Manager.Abstractions
@using MoonCore.Helpers

@inject ModalService ModalService
@inject ToastService ToastService
@inject ILogger<FileManager> Logger
@inject DropHandlerService DropHandlerService
@inject ChunkedFileTransferService FileTransferService

@inject IEnumerable<IFileOpenOperation> InjectedOpenOperations
@inject IEnumerable<ISingleFsOperation> InjectedSingleFsOperations
@inject IEnumerable<IMultiFsOperation> InjectedMultiFsOperations
@inject IEnumerable<IToolbarOperation> InjectedToolbarOperations

@implements IAsyncDisposable
@implements IFileManager

<FileManagerHeader CurrentPath="@CurrentPath"
                   OnBreadcrumbClick="SetPath"
                   OnHomeClick="@(() => SetPath("/"))"
                   OnRefreshClick="() => FileView.Refresh()"
                   OnFileSelected="HandleFileUpload"
                   ShowSelectionItems="@(SelectedEntries.Length > 0)"
                   SelectionOperations="MultiFsOperations"
                   OnSelectionClicked="RunSelectionOperation"
                   ToolbarOperations="ToolbarOperations"
                   OnToolbarClicked="RunToolbarOperation"/>

<div class="mt-5">
    <FileView @ref="FileView" Load="Load" ShowDate="true" ShowSize="true" OnClick="OnClick"
              CustomClickLink="CustomClickLink" OnContextMenu="OnContextMenu">
        <ChildContent>
            <DataTableRow TItem="FsEntry" Index="int.MinValue">
                <Template>
                    @if (CurrentPath != "/")
                    {
                        <td @onclick="GoUp" scope="row" colspan="99999"
                            class="py-1.5 px-3 text-left font-normal cursor-pointer">
                            <div class="flex flex-row items-center">
                                <i class="icon-folder-up text-accent text-2xl me-5"></i>
                                <div>Go up</div>
                            </div>
                        </td>
                    }
                </Template>
            </DataTableRow>

            <Selection TItem="FsEntry" OnSelectionChanged="OnSelectionChanged"/>
            <DataTableColumn TItem="FsEntry" Index="int.MaxValue">
                <ColumnTemplate>
                    <div class="flex justify-end me-1.5">
                        <a href="#" @onclick="e => OnContextMenu(e.ClientX - 215, e.ClientY, context)"
                           @onclick:preventDefault @onclick:stopPropagation>
                            <i class="icon-ellipsis text-lg"></i>
                        </a>
                    </div>
                </ColumnTemplate>
            </DataTableColumn>
        </ChildContent>
    </FileView>
</div>

<ContextMenu @ref="ContextMenu">
    @if (ContextEntry != null)
    {
        foreach (var operation in SingleFsOperations.Where(x => x.Filter == null || x.Filter.Invoke(ContextEntry)))
        {
            <button @onclick="_ => RunSingleContextOperation(operation)" type="button" class="dropdown-item">
                <i class="@(operation.Icon) @(operation.ContextCss) text-lg me-1"></i>
                @operation.Name
            </button>
        }

        foreach (var operation in MultiFsOperations)
        {
            <button @onclick="_ => RunMultiContextOperation(operation)" type="button" class="dropdown-item">
                <i class="@(operation.Icon) @(operation.ContextCss) text-lg me-1"></i>
                @operation.Name
            </button>
        }
    }
</ContextMenu>

@code
{

    [Parameter] public IFsAccess FsAccess { get; set; }
    [Parameter] public long UploadLimit { get; set; } = -1;
    
    [Parameter]
    public long TransferChunkSize { get; set; } = ByteConverter.FromMegaBytes(20).Bytes;

    public FileView FileView { get; private set; }

    private ContextMenu ContextMenu;

    private IFileOpenOperation[] OpenOperations;
    private ISingleFsOperation[] SingleFsOperations;
    private IMultiFsOperation[] MultiFsOperations;
    private IToolbarOperation[] ToolbarOperations;

    protected override async Task OnInitializedAsync()
    {
        SingleFsOperations = InjectedSingleFsOperations
            .Where(x => x.CheckCompatability(FsAccess, this))
            .OrderByDescending(x => x.Order)
            .ToArray();

        MultiFsOperations = InjectedMultiFsOperations
            .Where(x => x.CheckCompatability(FsAccess, this))
            .OrderByDescending(x => x.Order)
            .ToArray();

        ToolbarOperations = InjectedToolbarOperations
            .Where(x => x.CheckCompatability(FsAccess, this))
            .OrderByDescending(x => x.Order)
            .ToArray();

        OpenOperations = InjectedOpenOperations.OrderByDescending(x => x.Order).ToArray();

        await InitializeUpload();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LateInitializeUpload();
    }

    public async ValueTask DisposeAsync()
    {
        DropHandlerService.OnDropped -= HandleFileDrop;

        try
        {
            await DropHandlerService.Disable();
        }
        catch (JSException)
        {
            // Ignored
        }
    }

    public Task Refresh()
        => FileView.Refresh();

    public Task CloseOpenScreen()
    {
        throw new NotImplementedException();
    }
}
