@inherits FastFormBaseComponent<bool>

<div class="col-12 col-md-3">
    <label class="form-label">@Name</label>

    <MCBRadialBooleanButton @bind-Value="Binder.Value"
                            FalseIcon="@FalseIcon"
                            TrueIcon="@TrueIcon"
                            FalseText="@FalseText"
                            TrueText="@TrueText"/>

    @if (Description != null)
    {
        <div class="form-text fs-6 text-gray-600">
            @Description
        </div>
    }
</div>

@code
{
    [Parameter] public string FalseIcon { get; set; } = "";

    [Parameter] public string TrueIcon { get; set; } = "";

    [Parameter] public string FalseText { get; set; } = "";

    [Parameter] public string TrueText { get; set; } = "";
}