@using Microsoft.AspNetCore.Components.Forms
@using MoonCore.Blazor.FlyonUi.Files.Manager.Abstractions

<div class="card card-body p-2">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-3 lg:gap-y-0">
        <div class="col-span-1">
            <div class="flex flex-row justify-center lg:justify-start">
                <button @onclick="OnRefreshClick" class="btn btn-square btn-primary grow-0 me-2">
                    <i class="icon-refresh-cw"></i>
                </button>

                <div class="ms-1 grow hidden lg:flex">
                    <PathBreadcrumb Path="@CurrentPath"
                                    OnClick="OnBreadcrumbClick"
                                    CustomClickLink="CustomBreadcrumbClickLink"/>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="flex flex-row justify-center lg:justify-end">
                @if (ShowSelectionItems)
                {
                    for (var i = 0; i < SelectionOperations.Length; i++)
                    {
                        var operation = SelectionOperations[i];

                        <button @onclick="_ => OnSelectionClicked.Invoke(operation)"
                                class="btn @(operation.ToolbarCss) @(i != SelectionOperations.Length - 1 ? "me-2" : "")">
                            <i class="@operation.Icon"></i>
                            @operation.Name
                        </button>
                    }
                }
                else
                {
                    for (var i = 0; i < ToolbarOperations.Length; i++)
                    {
                        var operation = ToolbarOperations[i];

                        <button @onclick="_ => OnToolbarClicked.Invoke(operation)"
                                class="btn @(operation.ToolbarCss) @(i != ToolbarOperations.Length - 1 ? "me-2" : "")">
                            <i class="@operation.Icon"></i>
                            @operation.Name
                        </button>
                    }

                    if (EnableUpload)
                    {
                        <label for="fm-upload" class="btn btn-primary ms-2">
                            <i class="icon-upload"></i>
                            Upload
                        </label>
                        <InputFile OnChange="HandleUpload" class="hidden" id="fm-upload" multiple=""/>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public string CurrentPath { get; set; }
    [Parameter] public Func<string, Task>? OnBreadcrumbClick { get; set; }
    [Parameter] public Func<string, string>? CustomBreadcrumbClickLink { get; set; }

    [Parameter] public required Func<Task> OnHomeClick { get; set; }
    [Parameter] public required Func<Task> OnRefreshClick { get; set; }

    [Parameter] public required Func<IBrowserFile[], Task> OnFileSelected { get; set; }

    [Parameter] public bool ShowSelectionItems { get; set; }

    [Parameter] public IMultiFsOperation[] SelectionOperations { get; set; }
    [Parameter] public Func<IMultiFsOperation, Task> OnSelectionClicked { get; set; }

    [Parameter] public IToolbarOperation[] ToolbarOperations { get; set; }
    [Parameter] public Func<IToolbarOperation, Task> OnToolbarClicked { get; set; }
    
    [Parameter] public bool EnableUpload { get; set; }

    private async Task HandleUpload(InputFileChangeEventArgs eventArgs)
    {
        if (eventArgs.FileCount == 0)
            return;

        var files = eventArgs.FileCount == 1
            ? [eventArgs.File]
            : eventArgs.GetMultipleFiles().ToArray();

        await OnFileSelected.Invoke(files);
    }
}
