@inherits MoonCore.Blazor.FlyonUi.Drawers.DrawerBase

@inject NavigationManager Navigation

@implements IDisposable

@{
    var url = new Uri(Navigation.Uri);
}

<div class="drawer-header">
    <div class="flex items-center gap-3">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.6745 16.9224L12.6233 10.378C12.2167 9.85117 11.4185 9.8611 11.0251 10.3979L6.45728 16.631C6.26893 16.888 5.96935 17.0398 5.65069 17.0398H3.79114C2.9635 17.0398 2.49412 16.0919 2.99583 15.4336L11.0224 4.90319C11.4206 4.38084 12.2056 4.37762 12.608 4.89668L20.9829 15.6987C21.4923 16.3558 21.024 17.3114 20.1926 17.3114H18.4661C18.1562 17.3114 17.8638 17.1677 17.6745 16.9224ZM12.5866 15.5924L14.8956 18.3593C15.439 19.0105 14.976 20 14.1278 20H9.74075C8.9164 20 8.4461 19.0586 8.94116 18.3994L11.0192 15.6325C11.4065 15.1169 12.1734 15.0972 12.5866 15.5924Z"
                  fill="var(--color-primary)"/>
        </svg>
        <h3 class="drawer-title text-xl font-semibold">MoonCore</h3>
    </div>
</div>
<div class="drawer-body px-2">
    <ul class="menu p-0">
        @if (Reference == null)
        {
            foreach (var group in Items)
            {
                if (!string.IsNullOrEmpty(group.Key))
                {
                    <li>
                        <div class="divider">@group.Key</div>
                    </li>
                }

                foreach (var item in group.Value)
                {
                    var isActive = item.RequiresExactMatch
                        ? url.LocalPath == item.Path
                        : url.LocalPath.StartsWith(item.Path);

                    <li>
                        <a href="@item.Path" class="@(isActive ? "menu-active" : "")">
                            <i class="@item.Icon text-lg"></i>
                            @item.Name
                        </a>
                    </li>
                }
            }
        }
        else
        {
            foreach (var group in Items)
            {
                if (!string.IsNullOrEmpty(group.Key))
                {
                    <li>
                        <div class="divider">@group.Key</div>
                    </li>
                }

                foreach (var item in group.Value)
                {
                    var isActive = item.RequiresExactMatch
                        ? url.LocalPath == item.Path
                        : url.LocalPath.StartsWith(item.Path);

                    <li>
                        <a href="@item.Path"
                           class="@(isActive ? "menu-active" : "")"
                           @onclick="_ => NavigateMobileAsync(item)"
                           @onclick:preventDefault>
                            <i class="@item.Icon text-lg"></i>
                            @item.Name
                        </a>
                    </li>
                }
            }
        }
    </ul>
</div>

@code
{
    private Dictionary<string, SidebarItem[]> Items = new();

    private string Username = "demouser";
    private string Email = "user@demo.email";

    protected override void OnInitialized()
    {
        var sidebarItems = new List<SidebarItem>()
        {
            new()
            {
                Name = "Dashboard",
                Path = "/",
                Icon = "icon-layout-dashboard",
                RequiresExactMatch = true
            },
            new()
            {
                Name = "Components",
                Path = "/components",
                Icon = "icon-puzzle",
                RequiresExactMatch = false
            },
            new()
            {
                Name = "Feedback",
                Path = "/feedback",
                Icon = "icon-message-square",
                RequiresExactMatch = false
            },
            new()
            {
                Name = "Data Tables",
                Path = "/datatables",
                Icon = "icon-table-2",
                RequiresExactMatch = false
            },
            new()
            {
                Name = "Forms",
                Path = "/forms",
                Icon = "icon-letter-text",
                RequiresExactMatch = false
            },
            new()
            {
                Name = "Colors",
                Path = "/colors",
                Icon = "icon-palette",
                RequiresExactMatch = false
            },
            new()
            {
                Name = "Auth",
                Path = "/auth",
                Icon = "icon-fingerprint",
                RequiresExactMatch = false
            },
            new()
            {
                Name = "Files",
                Path = "/files",
                Icon = "icon-file-text",
                RequiresExactMatch = false
            }
        };

        Items = sidebarItems
            //.Where(x => x.Permission == null || (x.Permission != null && IdentityService.HasPermission(x.Permission)))
            .GroupBy(x => x.Group ?? "")
            .OrderByDescending(x => string.IsNullOrEmpty(x.Key))
            .ToDictionary(x => x.Key, x => x.OrderBy(y => y.Priority).ToArray());

        Navigation.LocationChanged += OnNavigated;
    }

    private async void OnNavigated(object? sender, LocationChangedEventArgs e)
    {
        // No async void without try catch to prevent hard app crashes when async task fails
        
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            // ignored
        }
    }

    private async Task NavigateMobileAsync(SidebarItem item)
    {
        await CloseAsync();
        Navigation.NavigateTo(item.Path);
    }

    record SidebarItem
    {
        public string? Group { get; set; }
        public int Priority { get; set; }
        public string Icon { get; set; }
        public string Path { get; set; }
        public string Name { get; set; }
        public bool RequiresExactMatch { get; set; }
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnNavigated;
    }
}
