@using Microsoft.Extensions.Logging
@typeparam TItem

@inject ILogger<InputItem<TItem>> Logger

<div class="advance-select relative active">
    @if (IsLoading)
    {
        <button type="button" aria-expanded="true"
                class="advance-select-toggle select-disabled:pointer-events-none select-disabled:opacity-40"
                disabled="disabled">
            <span class="truncate italic">Loading</span>
        </button>
    }
    else if (IsFailed)
    {
        <button type="button" aria-expanded="true"
                class="advance-select-toggle select-disabled:pointer-events-none select-disabled:opacity-40"
                disabled="disabled">
            <span class="truncate text-error">Failed to load</span>
        </button>
    }
    else
    {
        <button @onclick="ToggleVisibilityAsync" type="button" aria-expanded="true"
                class="advance-select-toggle">
            @if (Value.Count == 0)
            {
                <span class="truncate">
                    Select option...
                </span>
            }
            else
            {
                <span class="truncate">
                    @{
                        string displayValue;
                        
                        // Show the display field value of maximum the first 2 elements, then we just say + amount if more than 2
                        displayValue = string.Join(", ", Value.Take(2).Select(x => DisplayField.Invoke(x).ToString()));

                        if (Value.Count > 2)
                            displayValue += $", +{Value.Count - 2}";
                    }
                    
                    @displayValue
                </span>
            }
        </button>
    }

    @if (IsVisible && VisibleItems != null)
    {
        <div class="absolute advance-select-menu opened top-full mt-3 z-70 max-h-52 overflow-y-auto pt-0 bg-base-200!" role="listbox" tabindex="-1"
             aria-orientation="vertical">

            @if (SearchField != null)
            {
                <div class="bg-base-200 sticky top-0 border-b-2 border-b-base-content/20">
                    <input @oninput="OnSearchInput" value="@SearchTerm"
                           type="text" placeholder="Search..."
                           class="bg-transparent placeholder-base-content/60 w-full h-10 px-4 focus:outline-none">
                </div>
            }
            else
            {
                <div class="mb-2"></div>
            }

            @if (VisibleItems.Length == 0)
            {
                <div class="flex items-center justify-center pt-2 pb-1">
                    <span class="text-base-content/80">No items found</span>
                </div>
            }
            else
            {
                foreach (var item in VisibleItems)
                {
                    <div @onclick="() => SelectAsync(item)"
                         tabindex="0"
                         class="cursor-pointer advance-select-option selected:select-active @(Value.Contains(item) ? "selected" : "")">
                        @if (Value.Contains(item))
                        {
                            <div class="flex flex-row justify-between items-center w-full">
                                <div>
                                    @DisplayField.Invoke(item)
                                </div>
                                <div>
                                    <i class="icon-check text-base text-primary-content"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="flex flex-row justify-start items-center w-full">
                                <div>
                                    @DisplayField.Invoke(item)
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        
        <div @onclick="OnFocusOut" class="overlay-backdrop transition duration-300 fixed inset-0 overflow-y-auto z-69"></div>
    }

    @if (IsLoading)
    {
        <span class="loading loading-spinner loading-xs absolute top-1/2 end-3 -translate-y-1/2"></span>
    }
    else if (IsFailed)
    {
        <i class="icon-triangle-alert text-error absolute top-1/2 end-3 -translate-y-1/2"></i>
    }
    else
    {
        <i class="icon-chevrons-up-down text-base-content absolute top-1/2 end-3 -translate-y-1/2"></i>
    }
</div>


@code
{
    /// <summary>
    /// Defines the list which should contain the selected items.
    /// This list will be modified by the component
    /// </summary>
    [Parameter] public IList<TItem> Value { get; set; }
    
    /// <summary>
    /// Callback used to retrieve the items which should be shown in the item select
    /// </summary>
    [Parameter] public required Func<Task<TItem[]>> ItemSource { get; set; }
    
    /// <summary>
    /// Define which field should be used to display the item in the dropdown.
    /// This expression can also build a string to combine multiple properties
    /// <br />
    /// <br />
    /// Example:
    /// <code>
    /// DisplayField="@(x => $"{x.FirstName} {x.LastName}")"
    /// </code>
    /// </summary>
    [Parameter] public required Func<TItem, object> DisplayField { get; set; }
    
    /// <summary>
    /// Define which field should be used to search the item in the dropdown.
    /// This expression can also build a string to combine multiple properties
    /// <br />
    /// <br />
    /// Example:
    /// <code>
    /// SearchField="@(x => $"{x.FirstName} {x.LastName}")"
    /// </code>
    /// </summary>
    [Parameter] public Func<TItem, object>? SearchField { get; set; }
    
    /// <summary>
    /// <b>Optional:</b> Callback which will be invoked when the selection has changed
    /// </summary>
    [Parameter] public Func<Task>? OnValueChanged { get; set; }

    private bool IsLoading;
    private bool IsVisible;
    private bool IsFailed;
    private TItem[]? Items;
    private TItem[]? VisibleItems;

    private string SearchTerm = "";

    private async Task OnFocusOut()
    {
        IsVisible = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task SelectAsync(TItem item)
    {
        if (Value.Contains(item))
            Value.Remove(item);
        else
            Value.Add(item);
        
        await InvokeAsync(StateHasChanged);

        if (OnValueChanged != null)
            await OnValueChanged.Invoke();
    }

    private async Task ToggleVisibilityAsync()
    {
        IsVisible = !IsVisible;

        if (IsVisible && Items == null)
        {
            IsLoading = true;
            Task.Run(LoadItemsAsync);
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadItemsAsync()
    {
        try
        {
            Items = await ItemSource.Invoke();
            VisibleItems = Items;
        }
        catch (Exception e)
        {
            Logger.LogError(e, "An error occured while loading items");

            IsFailed = true;
        }
        finally
        {
            IsLoading = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSearchInput(ChangeEventArgs eventArgs)
    {
        if(Items == null || SearchField == null)
            return;
        
        SearchTerm = eventArgs.Value?.ToString() ?? "";

        if (!string.IsNullOrEmpty(SearchTerm))
        {
            VisibleItems = Items
                .Where(item =>
                    {
                        var fieldStr = SearchField.Invoke(item).ToString() ?? "";
                        return fieldStr.Contains(SearchTerm, StringComparison.InvariantCultureIgnoreCase);
                    }
                )
                .ToArray();
        }
        else
            VisibleItems = Items;

        await InvokeAsync(StateHasChanged);
    }
}