@using System.Reflection
@using System.ComponentModel
@using Microsoft.Extensions.DependencyInjection
@using MoonCore.Abstractions
@using MoonCore.Helpers
@using MoonCoreUI.Attributes
@using MoonCoreUI.Helpers
@using MoonCoreUI.Models

@typeparam TProp where TProp : List<TItem>
@typeparam TItem

@inject IServiceProvider ServiceProvider

<div class="@ColCssClass">
    @if (EnablePropertyName)
    {
        <label class="form-label">
            @if (TryGetCasted(out DisplayNameAttribute nameAttribute))
            {
                @nameAttribute.DisplayName
            }
            else
            {
                @(Formatter.ConvertCamelCaseToSpaces(Property.Name))
            }
        </label>
    }

    @* Actual value binding *@

    @if (TryGetCasted(out MultiSelectionAttribute _))
    {
        <MultiItemSelect Value="Binder.Class"
                         ValueExpression="@(() => Binder.Class)"
                         Items="Items"
                         DisplayFunc="DisplayFunc"
                         SearchFunc="SearchFunc"
                         IconFunc="IconFunc"/>
    }

    @if (TryGetCasted<DescriptionAttribute>(out var descriptionAttribute))
    {
        <div class="form-text fs-6 text-gray-600">
            @(descriptionAttribute.Description)
        </div>
    }
</div>

@code
{
    [Parameter] public object Data { get; set; }

    [Parameter] public PropertyInfo Property { get; set; }

    [Parameter] public bool EnablePropertyName { get; set; } = true;
    [Parameter] public bool EnablePlaceholderName { get; set; } = false;
    [Parameter] public bool EnableColumnDetection { get; set; } = false;

    [CascadingParameter(Name = "Options")] public AutoCrudOptions? Options { get; set; }
    [CascadingParameter(Name = "Context")] public AutoCrudContext? Context { get; set; }

    private PropBinder<TProp> Binder;
    private List<TItem> Items = new();

    private Attribute[] Attributes;

    private string ColCssClass = "";

    private Func<TItem, string> DisplayFunc;
    private Func<TItem, string> SearchFunc;
    private Func<TItem, string>? IconFunc = default;

    private bool AutoCrudMode = false;

    protected override void OnInitialized()
    {
        if (Options != null && Context != null)
            AutoCrudMode = true;

        Binder = new(Property, Data);

        Attributes = Property
            .GetCustomAttributes()
            .ToArray();

// ColCssClass
        if (EnableColumnDetection)
        {
            var columns = 3;

            if (TryGetCasted(out MultiSelectionAttribute _))
                columns = 6;

            ColCssClass = "col-12 col-md-6 col-xl-" + columns;
        }

// Search and display functions
        if (TryGetCasted(out MultiSelectionAttribute multiSelectionAttribute))
        {
            if (TryGetCasted(out CustomDisplayFunctionAttribute displayFunctionAttribute) && AutoCrudMode)
            {
                if (Options!.TryGetCastedOption<Func<TItem, string>>(
                        options => options.CustomDisplayFunctions,
                        displayFunctionAttribute.Id,
                        out var val))
                {
                    DisplayFunc = val;
                }
            }
            else
                DisplayFunc = FormHelper.GetPropertyExpression<TItem>(multiSelectionAttribute.DisplayField);

            if (TryGetCasted(out CustomSearchFunctionAttribute searchFunctionAttribute) && AutoCrudMode)
            {
                if (Options!.TryGetCastedOption<Func<TItem, string>>(
                        options => options.CustomSearchFunctions,
                        searchFunctionAttribute.Id,
                        out var val))
                {
                    SearchFunc = val;
                }
            }
            else
                SearchFunc = FormHelper.GetPropertyExpression<TItem>(multiSelectionAttribute.SearchProp);

            if (!string.IsNullOrEmpty(multiSelectionAttribute.Icon))
                IconFunc = _ => multiSelectionAttribute.Icon;
        }
    }

    protected override void OnParametersSet()
    {
        Binder = new(Property, Data);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!TryGetCasted(out MultiSelectionAttribute _))
                return;

            // Create generic type to resolve from di
            var typeToGetByDi = typeof(Repository<>).MakeGenericType(typeof(TItem));

            // Resolve generic repo from di
            var repo = ServiceProvider.GetRequiredService(typeToGetByDi);

            if (TryGetCasted(out CustomItemLoaderAttribute loaderAttribute))
            {
                if (!AutoCrudMode)
                    return;

                // Check if custom loader exists, if not, skip it
                if (!Options!.CustomItemLoaders.TryGetValue(loaderAttribute.Id, out var customLoader))
                    return;

                // Invoke the loader with the repo as an argument and an expected IEnumerable result
                var iEnumerable = customLoader
                    .GetType()
                    .GetMethods()
                    .First(x => x.Name == "Invoke")
                    .Invoke(customLoader, new[] { repo, Context!.ItemToEdit }) as IEnumerable<TItem>;

                // Execute db command (see EF ToArray() )
                Items = iEnumerable!.ToList();
            }
            else // Fallback to default loader
            {
                // Invoke the repo get function with the no arguments and an expected IEnumerable result
                var dbSet = repo.GetType().GetMethods().First(x => x.Name == "Get").Invoke(repo, null) as IEnumerable<TItem>;

                // Execute db command (see EF ToArray() )
                Items = dbSet!.ToList();
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    private bool TryGetCasted<T>(out T result) where T : class
    {
        result = default!;

        if (Attributes.Length < 1)
            return false;

        var attribute = Attributes.FirstOrDefault(x => x.GetType() == typeof(T));

        if (attribute == null)
            return false;

        if (attribute is not T castedAttribute)
            return false;

        result = castedAttribute;
        return true;
    }
}