@using MoonCore.Blazor.Tailwind.Modals.Components
@using MoonCore.Blazor.Tailwind.Toasts
@using MoonCore.Helpers

@inherits BaseModal

@inject ToastService ToastService
@inject IJSRuntime JsRuntime

@if (IsUploading)
{
    <div class="p-5 flex justify-center items-center">
        <div class="relative size-52">
            <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-gray-900" stroke-width="2"></circle>
                <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-primary-500"
                        stroke-width="2" stroke-dasharray="100" stroke-dashoffset="@(100 - ProgressPercent)" stroke-linecap="round"></circle>
            </svg>

            <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <div class="text-center text-2xl font-bold text-white">@(ProgressPercent)%</div>
                <div class="text-center text-sm text-gray-400">@(CurrentFileCount) / @(TotalFileCount)</div>
                <div class="text-center text-sm text-gray-400">@(UploadSpeed) MB/s</div>
            </div>
        </div>
    </div>
}
else
{
    <div class="flex items-center justify-center w-full">
        <label id="dropzone" for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <i class="text-gray-400 text-3xl icon-cloud-upload"></i>
                <p class="mb-2 text-sm text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-400">Maximum file size: 100MB, Folders supported via drag and drop</p>
            </div>
        </label>
    </div>
}

@* The input is placed here so we can change the view without losing track of the element *@

<InputFile OnChange="StartUpload" id="dropzone-file" class="hidden" />

@code
{
    private bool IsUploading = false;
    private int ProgressPercent = 0;
    private int CurrentFileCount = 0;
    private int TotalFileCount = 10324;
    private int UploadSpeed = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
            return;

        await JsRuntime.InvokeVoidAsync("moonCoreFileManager.setup", "dropzone", DotNetObjectReference.Create(this));
    }

    #region Drag and drop callback

    [JSInvokable]
    public async Task UpdateState(int current, int total, bool showUpload)
    {
        CurrentFileCount = current;
        TotalFileCount = total;

        if (IsUploading && !showUpload) // Handles the end of the upload state
        {
            await ToastService.Success($"Successfully uploaded {TotalFileCount} files");
            await Hide();
        }
        
        IsUploading = showUpload;
        
        ProgressPercent = CurrentFileCount == 0 ? 0 : (int)Math.Round((float)CurrentFileCount / TotalFileCount * 100f);

        await InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public async Task PushFile(string path, IJSStreamReference streamReference)
    {
        try
        {
            Console.WriteLine("Getting pushed: " + path);
            Console.WriteLine("Stream length: " + streamReference.Length);

            var dataStream = await streamReference.OpenReadStreamAsync(streamReference.Length); // Hndle empty files

            var realPath = PathBuilder.File("uploads", path);
            var directory = Path.GetDirectoryName(realPath);

            Directory.CreateDirectory(directory!);

            var fs = File.Create(realPath);
            await dataStream.CopyToAsync(fs);
            await fs.FlushAsync();
            fs.Close();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    #endregion

    private async Task StartUpload(InputFileChangeEventArgs args)
    {
        Console.WriteLine(args.File.Name);
        
        return;
        IsUploading = true;
        ProgressPercent = 0;
        CurrentFileCount = 0;

        await InvokeAsync(StateHasChanged);

        var random = new Random();
        
        while (CurrentFileCount < TotalFileCount)
        {
            var filesUploaded = random.Next(100, 200);

            // Ensure we dont overshoot
            if (CurrentFileCount + filesUploaded > TotalFileCount)
                filesUploaded = TotalFileCount - CurrentFileCount;

            UploadSpeed = random.Next(5, 15);
            CurrentFileCount += filesUploaded;

            ProgressPercent = CurrentFileCount == 0 ? 0 : (int)Math.Round((float)CurrentFileCount / TotalFileCount * 100f);
            await InvokeAsync(StateHasChanged);
            
            await Task.Delay(500);
        }

        await ToastService.Success($"Successfully uploaded {TotalFileCount} files");
        await Hide();
    }
}
