@using MoonCore.Blazor.Tailwind.Components

@typeparam TForm

@inject IServiceProvider ServiceProvider

@if (Configuration.Pages.Length > 0)
{
    <Tabs>
        @if (Configuration.Sections.Length > 0 || Configuration.Fields.Length > 0)
        {
            <Tab Name="General">
                @if (Configuration.Fields.Length > 0)
                {
                    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        @foreach (var field in Configuration.Fields)
                        {
                            <div class="sm:col-span-@(field.Columns)">
                                <label class="block text-sm font-medium leading-6 text-white">
                                    @(field.Label)
                                </label>
                                <div class="mt-2">
                                    <InstanceView Instance="@field.Component"/>
                                </div>
                                @if (!string.IsNullOrEmpty(field.Description))
                                {
                                    <p class="mt-1 text-sm leading-6 text-gray-400">@(field.Description)</p>
                                }
                            </div>
                        }
                    </div>
                }

                @if (Configuration.Sections.Length > 0)
                {
                    for (var i = 0; i < Configuration.Sections.Length; i++)
                    {
                        var section = Configuration.Sections[i];

                        <div class="border-t border-gray-100/10 pt-6 my-8">
                            <div class="mb-8">
                                @if (!string.IsNullOrEmpty(section.Name))
                                {
                                    <h2 class="text-base font-semibold leading-7 text-gray-100">@(section.Name)</h2>
                                }
                                @if (!string.IsNullOrEmpty(section.Description))
                                {
                                    <p class="mt-1 text-sm leading-6 text-gray-400">@(section.Description)</p>
                                }
                            </div>

                            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                @foreach (var field in section.Fields)
                                {
                                    <div class="sm:col-span-@(field.Columns)">
                                        <label class="block text-sm font-medium leading-6 text-white">
                                            @(field.Label)
                                        </label>
                                        <div class="mt-2">
                                            <InstanceView Instance="@field.Component"/>
                                        </div>
                                        @if (!string.IsNullOrEmpty(field.Description))
                                        {
                                            <p class="mt-1 text-sm leading-6 text-gray-400">@(field.Description)</p>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </Tab>
        }

        @foreach (var currentPage in Configuration.Pages)
        {
            <Tab Name="@currentPage.Name">
                @if (currentPage.Fields.Length > 0)
                {
                    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        @foreach (var field in currentPage.Fields)
                        {
                            <div class="sm:col-span-@(field.Columns)">
                                <label class="block text-sm font-medium leading-6 text-white">
                                    @(field.Label)
                                </label>
                                <div class="mt-2">
                                    <InstanceView Instance="@field.Component"/>
                                </div>
                                @if (!string.IsNullOrEmpty(field.Description))
                                {
                                    <p class="mt-1 text-sm leading-6 text-gray-400">@(field.Description)</p>
                                }
                            </div>
                        }
                    </div>
                }

                @if (currentPage.Sections.Length > 0)
                {
                    for (var i = 0; i < currentPage.Sections.Length; i++)
                    {
                        var section = currentPage.Sections[i];

                        <div class="border-t border-gray-100/10 pt-6 my-8">
                            <div class="mb-8">
                                @if (!string.IsNullOrEmpty(section.Name))
                                {
                                    <h2 class="text-base font-semibold leading-7 text-gray-100">@(section.Name)</h2>
                                }
                                @if (!string.IsNullOrEmpty(section.Description))
                                {
                                    <p class="mt-1 text-sm leading-6 text-gray-400">@(section.Description)</p>
                                }
                            </div>

                            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                @foreach (var field in section.Fields)
                                {
                                    <div class="sm:col-span-@(field.Columns)">
                                        <label class="block text-sm font-medium leading-6 text-white">
                                            @(field.Label)
                                        </label>
                                        <div class="mt-2">
                                            <InstanceView Instance="@field.Component"/>
                                        </div>
                                        @if (!string.IsNullOrEmpty(field.Description))
                                        {
                                            <p class="mt-1 text-sm leading-6 text-gray-400">@(field.Description)</p>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </Tab>
        }
    </Tabs>
}
else
{
    if (Configuration.Fields.Length > 0)
    {
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            @foreach (var field in Configuration.Fields)
            {
                <div class="sm:col-span-@(field.Columns)">
                    <label class="block text-sm font-medium leading-6 text-white">
                        @(field.Label)
                    </label>
                    <div class="mt-2">
                        <InstanceView Instance="@field.Component"/>
                    </div>
                    @if (!string.IsNullOrEmpty(field.Description))
                    {
                        <p class="mt-1 text-sm leading-6 text-gray-400">@(field.Description)</p>
                    }
                </div>
            }
        </div>
    }

    if (Configuration.Sections.Length > 0)
    {
        for (var i = 0; i < Configuration.Sections.Length; i++)
        {
            var section = Configuration.Sections[i];

            <div class="border-t border-gray-100/10 pt-6 my-8">
                <div class="mb-8">
                    @if (!string.IsNullOrEmpty(section.Name))
                    {
                        <h2 class="text-base font-semibold leading-7 text-gray-100">@(section.Name)</h2>
                    }
                    @if (!string.IsNullOrEmpty(section.Description))
                    {
                        <p class="mt-1 text-sm leading-6 text-gray-400">@(section.Description)</p>
                    }
                </div>

                <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    @foreach (var field in section.Fields)
                    {
                        <div class="sm:col-span-@(field.Columns)">
                            <label class="block text-sm font-medium leading-6 text-white">
                                @(field.Label)
                            </label>
                            <div class="mt-2">
                                <InstanceView Instance="@field.Component"/>
                            </div>
                            @if (!string.IsNullOrEmpty(field.Description))
                            {
                                <p class="mt-1 text-sm leading-6 text-gray-400">@(field.Description)</p>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    }
}

@*
Mappings:
class="sm:col-span-1 sm:col-span-2 sm:col-span-3 sm:col-span-4 sm:col-span-5 sm:col-span-6"
*@

@code
{
    [Parameter] public Action<FormConfiguration<TForm>> OnConfigure { get; set; }
    [Parameter] public TForm Model { get; set; }

    private CompiledFormConfiguration Configuration = new();

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(OnConfigure);

        CompileForm();
    }

    private void CompileForm()
    {
        var config = new FormConfiguration<TForm>();
        OnConfigure.Invoke(config);
        Configuration = config.Compile(ServiceProvider, Model!);
    }
}

